<div class="login-container mt-20 md:mt-32">
  <img src="assets/logo.png" alt="Logo Star Wars" class="logo" />

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div
        class="error"
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        Email inválido.
      </div>
    </div>

    <div>
      <label for="password">Senha</label>
      <input id="password" type="password" formControlName="password" />
      <div
        class="error"
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        Senha obrigatória (mínimo 8 caracteres).
      </div>
    </div>

    <div *ngIf="isRegisterMode || isUpdatePasswordMode">
      <label for="confirmPassword">Confirmar Senha</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
      />
      <div
        class="error"
        *ngIf="
          loginForm.get('confirmPassword')?.invalid &&
          loginForm.get('confirmPassword')?.touched
        "
      >
        Confirmação de senha obrigatória.
      </div>
    </div>

    <div class="button-group">
      <button
        type="submit"
        class="enter-button"
        *ngIf="!isRegisterMode && !isUpdatePasswordMode"
      >
        Entrar
      </button>

      <div class="flex justify-between">
        <button
          type="button"
          class="side-buttons"
          *ngIf="!isRegisterMode && !isUpdatePasswordMode"
          (click)="toggleRegisterMode()"
        >
          Cadastrar
        </button>
        <button
          type="button"
          class="side-buttons"
          *ngIf="!isRegisterMode && !isUpdatePasswordMode"
          (click)="toggleUpdatePasswordMode()"
        >
          Esqueci minha senha
        </button>
      </div>

      <button
        type="button"
        *ngIf="isRegisterMode"
        (click)="toggleRegisterMode()"
      >
        Voltar
      </button>
      <button type="submit" *ngIf="isRegisterMode" [disabled]="!isFormValid()">
        Cadastrar
      </button>

      <button
        type="button"
        *ngIf="isUpdatePasswordMode"
        (click)="toggleUpdatePasswordMode()"
      >
        Voltar
      </button>
      <button
        type="submit"
        *ngIf="isUpdatePasswordMode"
        [disabled]="!isFormValid()"
      >
        Atualizar Senha
      </button>
    </div>
  </form>

  <div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="success" *ngIf="successMessage">
    {{ successMessage }}
  </div>
</div>
