<div class="films-container">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <div *ngIf="!loading" class="films-grid">
    <div *ngFor="let film of films" class="film-card" (click)="openPanel(film)">
      <img [src]="film.cover" [alt]="film.title" class="film-cover" />
      <div class="film-info">
        <h2 class="film-title">{{ film.title }}</h2>
        <p class="character-info-row">
          <span class="field-name">Diretor</span>
          <span class="field-value">{{ film.director }}</span>
        </p>
        <p class="character-info-row">
          <span class="field-name">Lançamento</span>
          <span class="field-value">{{ film.release_date }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Backdrop escuro -->
  <div
    class="side-panel-backdrop"
    [class.open]="selectedFilm"
    (click)="closePanel()"
  ></div>

  <!-- Painel lateral -->
  <!-- Painel lateral -->
  <div class="side-panel" [class.open]="selectedFilm">
    <span class="close-btn" (click)="closePanel()">×</span>
    <ng-container *ngIf="selectedFilm">
      <h2 class="panel-title">{{ selectedFilm.title }}</h2>
      <img [src]="selectedFilm.cover" class="panel-cover" />

      <p class="panel-info">
        <span class="label-diretor">Diretor:</span>
        <span class="value-diretor">{{ selectedFilm.director }}</span>
      </p>

      <p class="panel-info">
        <span class="label-lancamento">Lançamento:</span>
        <span class="value-lancamento">{{ selectedFilm.release_date }}</span>
      </p>

      <p class="panel-info">
        <span class="label-sinopse">Sinopse:</span>
        <span class="value-sinopse">{{ selectedFilm.synopsis || "N/A" }}</span>
      </p>
    </ng-container>
  </div>
</div>
