.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999; // fica sobre todos os elementos
}

.spinner {
  position: relative;
  width: 120px; // maior
  height: 120px;
}

.circle,
.circle2,
.circle3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #ffe81f; // mais grosso
  border-top-color: transparent;
}

.circle {
  width: 80px;
  height: 80px;
  animation: spin-clockwise 3s linear infinite;
}

.circle2 {
  width: 100px;
  height: 100px;
  border-color: #c0c0c0;
  border-top-color: transparent;
  animation: spin-counter 4s linear infinite;
}

.circle3 {
  width: 120px;
  height: 120px;
  border-color: #ffe81f;
  opacity: 0.5;
  border-top-color: transparent;
  animation: spin-clockwise 5s linear infinite;
}

@keyframes spin-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin-counter {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.loading-text {
  color: #ffe81f;
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}
